#footer {
  width: 100%;
  height: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #ccc;
}

#footer ul {
  width: 100%;
  height: 100%;
  display: flex;
}

#footer ul .active {
  color: #c33;
}

#footer li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .28rem;
}
